<div class="favorislist-container">
  <div class="title">
    <h1>Liste des favoris</h1>
  </div>
  <div class="container-beers">
    <ng-container class="beers m-2" *ngFor="let favori of favorisList">
      <app-beer-card class="beer-card" *ngIf="favori" (setFavoriEvent)="setFavori($event)" [beer]="favori">
      </app-beer-card>
    </ng-container>
    <div *ngIf="favorisList.length == 0">
      <h1>Aucun favori enregistré</h1>
    </div>
  </div>
</div>