<h1>filtre de recherche</h1>
<form [formGroup]="beerForm" (ngSubmit)="nameFilter(name.value)">
  <mat-label>Rechercher une bière</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="nom de la bière" type="text" formControlName="name" #name />
  </mat-form-field>
  <mat-icon (click)="onCheckBoxChange('name',name.value)">search</mat-icon>

  <div *ngIf="searchNameValue && searchNameValue.length > 0">
    <p class="searchValue"></p>
    resultat pour la recherche de
    <p class="searchValue">"{{ searchNameValue }}"</p>
  </div>
</form>

<form [formGroup]="styleForm" novalidate>
  <mat-accordion class="p-1">

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="d-flex justify-content-between">
          <h2 class="m-0">Styles</h2>
          <p class="m-0 fs-5 actif-filter" *ngIf="styleArrayFilter && styleArrayFilter.length>0">Filtres actifs :
            {{styleArrayFilter.length}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let style of styles; let i = index">
        <label>

          <input type="checkbox" [value]="style.id" (change)="onCheckBoxChange('style', $event)" />
          {{ style.name }}
        </label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<form [formGroup]="colorForm" novalidate>
  <mat-accordion class="p-1">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="d-flex justify-content-between">
          <h2 class="m-0">Couleur</h2>
          <p class="m-0 fs-5 actif-filter" *ngIf="colorArrayFilter && colorArrayFilter.length>0">Filtres actifs :
            {{colorArrayFilter.length}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let color of colors; let i = index">
        <label>
          <input type="checkbox" [value]="color.id" (change)="onCheckBoxChange('color',$event)" />
          {{ color.name }}
        </label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
<form [formGroup]="countryForm" novalidate>
  <mat-accordion class="p-1">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="d-flex justify-content-between">
          <h2 class="m-0">Pays</h2>
          <p class="m-0 fs-5 actif-filter" *ngIf="countryArrayFilter && countryArrayFilter.length>0">Filtres actifs :
            {{countryArrayFilter.length}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let country of countries; let i = index">
        <label>
          <input type="checkbox" [value]="country.id" (change)="onCheckBoxChange('country',$event)" />
          {{ country.name }}
        </label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
<button class="mat-flat-button" (click)="resetFilter()">Supprimer les filtres</button>

<!-- <form [formGroup]="countryForm" novalidate>
  <h2>Pays</h2>
  <div *ngFor="let country of countries; let i = index">
    <label>
      <input type="checkbox" [value]="country.id" (change)="onCheckboxCountryChange($event)" />
      {{ country.name }}
    </label>
  </div>

  <button class="btn mat-flat-button btn-block fs-4" (click)="submitCountryForm()">
    Valider
  </button>
</form> -->

<!-- <form [formGroup]="countryForm" (ngSubmit)="countryFilter()">
  <mat-label>Pays</mat-label>
  <ul>
    <li>
      <mat-checkbox
        *ngFor="let country of countries"
        formControlName="country"
        >{{ country.name }}</mat-checkbox
      >
    </li>
  </ul>
</form> -->