.searchValue {
  font-weight: bold;
}
.form-btn {
  background-color: var(--secondary-color);
}
.actif-filter {
  padding: 0px 5px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
