.form-card {
  min-width: 400px;
  background-color: var(--primary-color-dark);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  color: var(--text-on-primary);
  min-width: 500px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.title {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 10px 0;
}
h1,
h2 {
  display: inline-block;
  font-family: var(--ff-heading);
  margin: 0;
  color: #ffffff;
  font-size: 28px;
  margin: 5px 0;
}
label {
  display: block;
  margin-top: 10px;
  font-size: var(--fs-900);
  color: var(--text-on-primary);
  font-family: var(--ff-heading);
  margin: 20px 0;
}
input {
  font-size: var(--fs-700);
}
.button {
  font-size: x-large;
  background-color: var(--secondary-color);
  border: var(--secondary-color) solid 1px;
  color: var(--text-on-primary);
}
.button:hover,
.button:active,
.button:focus {
  font-size: x-large;
  background-color: #003742;
  color: var(--text-on-primary);
  border: var(--secondary-color) solid 1px;
  text-shadow: var(--text-on-primary) 0px 0px 5px,
    var(--text-on-primary) 0px 0px 10px, var(--text-on-primary) 0px 0px 15px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  box-shadow: var(--secondary-color) 0px 0px 5px,
    var(--secondary-color) 0px 0px 6px, var(--secondary-color) 0px 0px 8px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
}
