<div class="form-card">
  <div class="title">
    <h1 class="">Changement de mot de passe</h1>
  </div>

  <form
    [formGroup]="pwdForm"
    (ngSubmit)="pwdForm.valid && updatePassword()"
    novalidate
  >
    <div class="form-group">
      <label for="password">Ancien Mot de passe</label>
      <input
        type="password"
        class="form-control"
        formControlName="oldPassword"
        required
        minlength="6"
      />
      <div class="alert alert-danger" role="alert" *ngIf="pwdForm.errors">
        <div *ngIf="pwdForm.errors?.['required']">Password is required</div>
        <div *ngIf="pwdForm.errors?.['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Nouveau Mot de passe</label>
      <input
        type="password"
        class="form-control"
        formControlName="newPassword"
        required
        minlength="6"
      />
      <div class="alert alert-danger" role="alert" *ngIf="pwdForm.errors">
        <div *ngIf="pwdForm.errors?.['required']">Password is required</div>
        <div *ngIf="pwdForm.errors?.['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="pt-1 mb-4 d-flex justify-content-around">
      <a class="btn button btn-lg" (click)="returnToProfilCard()">Annuler</a>
      <button class="btn button btn-lg">Valider</button>
    </div>
  </form>
</div>
