<p>add-brewery works!</p>
<mat-dialog-content>
<form [formGroup]="breweryForm" (ngSubmit)="addBrewery()">
    <p>ajouter une nouvelle brasserie:</p>
        <p>nom: </p>
        <label>
            <input type="text" formControlName="name">
        </label>
<button  mat-button type="submit" >enregistrer la brasserie</button>

</form>
</mat-dialog-content>

