<div class="card" style="width: 32rem;">
    <mat-card *ngIf="beer" class="d-flex">
        <div>
            <mat-card-title>{{ beer.name }}</mat-card-title>
            <mat-card-content>
                <div *ngIf="beer.alcool">{{ beer.alcool }}</div>
                <div *ngIf="beer.style.name">{{ beer.style.name | titlecase }}</div>
            </mat-card-content>
            <div class="example-button-container" *ngIf="currentUser">
                <favori-button [isLike]="beer.isLike" *ngIf="currentUser" (likeEvent)="setFavori()"></favori-button>
                <shoplist-button [isWish]="beer.isWish" *ngIf="currentUser" (wishEvent)="setBeerToShopList()">
                </shoplist-button>
                <button routerLink="/beerDetail/{{ beer.id }}">Voir la bière</button>
            </div>
        </div>
        <img mat-card-lg-image src="{{ beer.img }}" alt="Photo {{ beer.name }}" />
    </mat-card>
</div>