.title {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
h1 {
  display: inline-block;
  font-family: var(--ff-heading);
  margin: 0;
  color: #ffffff;
  font-size: 32px;
  margin: 5px 0;
}

label {
  display: block;
  margin-top: 10px;
  font-size: var(--fs-900);
  color: var(--secondary-color);
  font-family: var(--ff-heading);
}
input {
  font-size: var(--fs-700);
  color: var(--primary-color-light);
}

button {
  font-size: x-large;
  margin-top: 30px;
}
.card-container.card {
  min-width: 300px;
  width: 45vw;
  padding: 40px 40px 20px 40px;
}

.card {
  background: #ffffff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: var(--secondary-color) solid 3px;
  border-radius: 10px;
  /* -webkit-box-shadow: 2px 7px 20px 0px rgba(197, 76, 0, 0.68);
  box-shadow: 2px 7px 20px 0px rgba(197, 76, 0, 0.68); */
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.button {
  font-size: x-large;
  background-color: #15616d;
  border: #15616d solid 1px;
  color: var(--text-on-primary);
}
.button:hover,
.button:active,
.button:focus {
  font-size: x-large;
  background-color: #003742;
  color: var(--text-on-primary);
  border: #15616d solid 1px;
  text-shadow: var(--text-on-primary) 0px 0px 5px,
    var(--text-on-primary) 0px 0px 10px, var(--text-on-primary) 0px 0px 15px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  box-shadow: #15616d 0px 0px 5px, #15616d 0px 0px 6px, #15616d 0px 0px 8px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
}
.form-control:focus,
.form-control:hover {
  box-shadow: #15616d 0px 0px 5px, #15616d 0px 0px 6px, #15616d 0px 0px 8px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  border-color: #15616d;
}
