<div class="col-md-12">
  <div class="card card-container">
    <div class="title" *ngIf="isSuccessful">
      <h1 class="">Enregitrement</h1>
    </div>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <!-- USERNAME -->
        <label for="nickname">Pseudo</label>
        <input
          type="text"
          class="form-control"
          name="nickname"
          [(ngModel)]="form.nickname"
          required
          minlength="5"
          maxlength="20"
          #nickname="ngModel"
        />
        <div class="alert-danger" *ngIf="nickname.errors && f.submitted">
          <div *ngIf="nickname.errors?.['required']">Pseudo is required</div>
          <div *ngIf="nickname.errors?.['minlength']">
            Pseudo must be at least 5 characters
          </div>
          <div *ngIf="nickname.errors?.['maxlength']">
            Pseudo must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <!--  -->
        <label for="firstname">Prénom</label>
        <input
          type="text"
          class="form-control"
          name="firstname"
          [(ngModel)]="form.firstname"
          required
          minlength="3"
          maxlength="20"
          #firstname="ngModel"
        />
        <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
          <div *ngIf="firstname.errors?.['required']">
            firstname is required
          </div>
          <div *ngIf="firstname.errors?.['minlength']">
            firstname must be at least 3 characters
          </div>
          <div *ngIf="firstname.errors?.['maxlength']">
            firstname must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <!--  -->
        <label for="lastname">Nom</label>
        <input
          type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          minlength="3"
          maxlength="20"
          #lastname="ngModel"
        />
        <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
          <div *ngIf="lastname.errors?.['required']">lastname is required</div>
          <div *ngIf="lastname.errors?.['minlength']">
            lastname must be at least 3 characters
          </div>
          <div *ngIf="lastname.errors?.['maxlength']">
            firstname must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors?.['required']">Email is required</div>
          <div *ngIf="email.errors?.['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-block button">S'enregistrer</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
