<div class="form-filter">
  <mat-form-field appearance="fill">
    <mat-label>Filtre</mat-label>
    <input
      #value
      matInput
      (keyup)="applyFilter(value.value)"
      placeholder="Filtre"
    />
  </mat-form-field>
</div>
<div class="food-table">
  <div class="mat-elevation-z8">
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th class="w-20" mat-header-cell *matHeaderCellDef mat-sort-header>
          Nom du plat
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th class="w-20" mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th class="w-20" mat-header-cell *matHeaderCellDef mat-sort-header>
          Image
        </th>
        <td mat-cell *matCellDef="let element">
          <img src="{{ element.img }}" alt="Plat {{ element.name }} " />
        </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th class="w-20" mat-header-cell *matHeaderCellDef mat-sort-header>
          Pays
        </th>
        <td mat-cell *matCellDef="let element">{{ element.country.name }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="w-20" mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="openDialog('delete', element)"
            class="btn btn-warning"
          >
            Suppr
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
