<div class="login-container">
  <div class="form col-md-12">
    <div class="card card-container">
      <div class="title" *ngIf="!currentUser">
        <h1 class="">Connexion</h1>
      </div>
      <form *ngIf="!currentUser" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Email</label>
          <input type="email" class="form-control" name="username" [(ngModel)]="form.username" required
            #username="ngModel" />

          <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-block button">Connexion</button>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="currentUser">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>
</div>