.beer-card {
  margin: 1%;
}
.title {
  margin-top: 64px;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 36px;
  color: var(--text-on-primary);
  font-weight: 500;
}
.container-beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.beers {
  margin: 1%;
}
