<div class="shoplist-container">
    <div class="title">
        <h1>Liste des souhaits d'achat</h1>
    </div>
    <div class="container-beers">
        <ng-container class="beers" *ngFor="let beer of shopList">
            <!-- <app-shoplist-card *ngIf="beer" (setShoplistEvent)="setShopList($event)" [beer]="beer"></app-shoplist-card> -->
            <app-beer-card class="beer-card" *ngIf="beer" (setShoplistEvent)="setShopList($event)" [beer]="beer">
            </app-beer-card>
        </ng-container>
    </div>

    <div *ngIf="shopList.length == 0">
        <h1>Aucune bière prévue dans vos prochaines courses</h1>
    </div>

</div>