<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Ajouter un Style</h3>
  <label>
    Style:
    <input type="text" formControlName="name" />
  </label>

  <button type="submit">enregistrer</button>
</form>
