.mat-toolbar {
  position: fixed;
}
.header-nav {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nickname {
  text-decoration: underline;
}
