<mat-toolbar class="header-nav" fxLayout="row">
  <div>
    <a [routerLink]="['/']"> Beer Appetit </a>

    <a class="mx-4" *ngIf="showAdminBoard" [routerLink]="['/admin']">Admin</a>

  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="menu-items">
      <li><a [routerLink]="['/beers']">Les Bières</a></li>
      <li><a [routerLink]="['/foods']">Les Plats</a></li>
      <li *ngIf="currentUser">
        <a [routerLink]="['/favoris']">Favoris</a>
        <span class="position-absolute d-inline-block" *ngIf="favorisTotal > 0" matBadge="{{ favorisTotal }}"
          matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="small">
        </span>
      </li>
      <li *ngIf="currentUser">
        <a [routerLink]="['shoplist']">Shop List</a>
        <span class="position-absolute d-inline-block" *ngIf="wishCount > 0" matBadge="{{ wishCount }}"
          matBadgePosition="after" matBadgeOverlap="true" matBadgeSize="small">
        </span>
      </li>
      <a *ngIf="currentUser" routerLink="/profil" class="nickname">
        {{currentUser.nickname | titlecase}}
      </a>
      <button *ngIf="!currentUser" mat-raised-button color="secondary" routerLink="/register">
        S'enregistrer
      </button>
      <button *ngIf="!currentUser" class="mx-2" mat-raised-button color="secondary" routerLink="login">
        Se connecter
      </button>
      <button *ngIf="currentUser" class="mx-2" routerLink="profil" mat-raised-button color="secondary"
        (click)="logout()">
        Déconnexion
      </button>
    </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
    <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
      <mat-icon>more_vert</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/beers']">Les Bières</button>
      <button mat-menu-item [routerLink]="['/plats']">Les Plats</button>
      <button mat-menu-item [routerLink]="['/favoris']">Favoris</button>
      <button mat-menu-item [routerLink]="['/shoplist']">ShopList</button>

      <button *ngIf="!currentUser" mat-raised-button color="secondary" routerLink="/register">
        S'enregistrer
      </button>
      <button *ngIf="!currentUser" class="mx-2" mat-raised-button color="secondary" routerLink="login">
        Se connecter
      </button>
      <button *ngIf="currentUser" class="mx-2" routerLink="profil" mat-raised-button color="secondary"
        (click)="logout()">
        Déconnexion
      </button>
    </mat-menu>
  </div>
</mat-toolbar>