<div class="form-card">
  <div class="title">
    <h1 class="">Changement d'adresse email</h1>
  </div>
  <div>
    <h2>Email actuel : {{ user.email }}</h2>
  </div>
  <form
    [formGroup]="emailForm"
    (ngSubmit)="emailForm.valid && updateEmail()"
    novalidate
  >
    <div class="form-group">
      <label for="username">Nouvel Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="username"
        required
      />

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        Email is required!
        {{ errorMessage }}
      </div>
    </div>
    <div class="pt-1 mb-4 d-flex justify-content-around">
      <a class="btn button btn-lg" (click)="returnToProfilCard()">Annuler</a>
      <button class="btn button btn-lg">Valider</button>
    </div>
  </form>
</div>
