.container-beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2%;
}
.beers {
  margin: 1%;
}
.example-sidenav {
  padding: 20px;
  width: 300px;
}
mat-icon {
  color: var(--secondary-color);
  padding-left: 5px;
  margin-right: 2px;
}
mat-sidenav-container {
  background-color: unset;
}

h2 {
  font-size: large;
  color: var(--secondary-color);
}

.filtre-icon {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-top: 90px;
  border: var(--secondary-color) 1px solid;
  border-radius: 0px 5px 5px 0px;
  height: 175px;
  background-color: var(--text-on-primary);
  margin: inherit -3px 0 -3px;
  z-index: 5;
}
.filtre:hover {
  cursor: pointer;
}

.add-beer-button {
  display: block;
  margin: 0 auto 0 auto;
  padding: auto;
  width: 80%;
  min-width: 140px;
  background-color: var(--primary-color-dark);
  color: var(--text-on-primary);
}
