<mat-sidenav-container class="page-container">

    <mat-sidenav #sidenav mode="side" class="example-sidenav position-fixed " [(opened)]="sideNavOpened"
        (opened)="events.push('open!')" (closed)="events.push('close!')">
        <app-side-filter (nameFilterEvent)="filterByName($event)" (colorFilterEvent)="colorFilter($event)"
            (styleFilterEvent)="styleFilter($event)" (countryFilterEvent)="countryFilter($event)">
        </app-side-filter>
    </mat-sidenav>
    <div class="filtre-icon " *ngIf="!sideNavOpened" (click)="sidenav.toggle()">
        <mat-icon class="">arrow_forward_ios</mat-icon>
        <h2 class="filtre">Filtre</h2>
    </div>

    <div class="filtre-icon" *ngIf="sideNavOpened" (click)="sidenav.toggle()">
        <mat-icon class="">arrow_back_ios</mat-icon>
        <h2 class="filtre">Filtre</h2>
    </div>

    <button *ngIf="currentUser" class="add-beer-button" mat-button (click)="openDialog()">Ajouter une bière</button>

    <div class="container-beers" *ngIf="beers">
        <div class="beers" *ngFor="let item of beers">
            <app-beer-card (setFavoriEvent)="setFavori($event)" (setShoplistEvent)="setShopList($event)" [beer]="item">
            </app-beer-card>
        </div>
    </div>
</mat-sidenav-container>