<h2 mat-dialog-title>Edition d'une bière</h2>
<mat-dialog-content>
  <form [formGroup]="beerForm" (ngSubmit)="updateElement()">
    <div class="d-flex">
      <div class="">
        <div class="">
          <mat-form-field class="p-1" floatLabel="auto" appearance="fill" color="accent" [style.width.%]="85">
            <mat-label>Nom</mat-label>
            <input matInput required type="textarea" formControlName="name" class="fs-2" />
          </mat-form-field>

          <mat-form-field class="p-1" floatLabel="auto" appearance="fill" color="accent" [style.width.%]="15">
            <mat-label>V. Alc</mat-label>
            <input matInput required type="text" formControlName="alcool" />
          </mat-form-field>
        </div>
        <div class="">
          <mat-form-field class="p-1" floatLabel="auto" appearance="fill" color="accent" [style.width.%]="50">
            <div formGroupName="style">
              <mat-label>Style</mat-label>
              <mat-select formControlName="id">
                <ng-container *ngFor="let style of styles">
                  <mat-option [value]="style.id" *ngIf="style">{{
                    style.name
                    }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </mat-form-field>
          <mat-form-field class="p-1" floatLabel="auto" appearance="fill" color="accent" [style.width.%]="50">
            <div formGroupName="color">
              <mat-label>Couleur</mat-label>
              <mat-select formControlName="id">
                <ng-container *ngFor="let color of colors">
                  <mat-option [value]="color.id" *ngIf="color">{{
                    color.name
                    }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </mat-form-field>
          <mat-form-field class="p-1" floatLabel="auto" appearance="fill" color="accent" [style.width.%]="50">
            <div formGroupName="brewery">
              <mat-label>Brasserie</mat-label>
              <mat-select formControlName="id">
                <ng-container *ngFor="let brewery of breweries">
                  <mat-option [value]="brewery.id" *ngIf="brewery">
                    {{ brewery.name }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </mat-form-field>



          <mat-form-field class="p-1" floatLabel="auto" appearance="fill" color="accent" [style.width.%]="50">
            <div formGroupName="country">
              <mat-label>Pays</mat-label>
              <mat-select formControlName="id">
                <ng-container *ngFor="let country of countries">
                  <mat-option [value]="country.id" *ngIf="country">{{
                    country.name
                    }}</mat-option>
                </ng-container>
              </mat-select>
            </div>
          </mat-form-field>
        </div>
      </div>

      <img src="{{ img }}" alt="" style="width: 25%" class="m-auto" />
    </div>
    <div class="d-flex flex-column">
      <mat-form-field floatLabel="auto" appearance="fill" color="accent" class="p-1">
        <mat-label>Arome</mat-label>
        <textarea matInput required type="text" formControlName="aroma"></textarea>
      </mat-form-field>

      <mat-form-field floatLabel="auto" appearance="fill" color="accent" class="m-2">
        <mat-label>Apparence</mat-label>
        <textarea matInput required type="text" formControlName="appearance"></textarea>
      </mat-form-field>

      <mat-form-field floatLabel="auto" appearance="fill" color="accent" class="m-2">
        <mat-label>taste</mat-label>
        <textarea matInput required type="text" formControlName="taste"></textarea>
      </mat-form-field>
    </div>
    <!--  -->
    <div class="d-flex justify-content-evenly">
      <button mat-button mat-dialog-close class="m-2" (click)="closeDialog()" class="mat-back-button">
        Retour à la liste
      </button>
      <button mat-button mat-dialog-close class="m-2" type="submit" class="mat-flat-button">
        Valider
      </button>
    </div>
  </form>
</mat-dialog-content>