<div class="details-container">
    <mat-card class="example-card" *ngIf="beer">
        <div class="top-card">
            <div class="card-header">
                <mat-card-header>
                    <mat-card-title>
                        <h1>{{ beer.name }}</h1>
                    </mat-card-title>
                    <mat-card-subtitle>{{ beer.style.name }}</mat-card-subtitle>
                    <mat-card-subtitle>{{ beer.alcool }}% Vol.</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="card-img">
                <img mat-card-image src="{{ beer.img }}" alt="Photo {{ beer.name }}" />
            </div>
        </div>
        <mat-card-content>
            <ul>
                <li>
                    <h3 class="m-0">Apparence:</h3>
                    <p> {{ beer.appearance }}</p>
                </li>
                <li>
                    <h3 class="m-0">Arome:</h3>
                    <p>{{ beer.aroma }}</p>
                </li>
                <li>
                    <h3 class="m-0">Saveurs:</h3>
                    <p> {{ beer.taste }}</p>
                </li>
            </ul>

        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-lg-between">
            <button class="m-2" mat-flat-button [ngStyle]="returnButton" routerLink="/beers">Retour à la
                liste</button>
            <div *ngIf="currentUser">
                <button *ngIf="beer.isLike" mat-flat-button class="m-2">Retirer des favoris</button>
                <button *ngIf="!beer.isLike" mat-flat-button class="m-2">Ajouter à mes favoris</button>

                <button *ngIf="beer.isWish" mat-flat-button>Retirer de ma liste
                    d'achat</button>
                <button *ngIf="!beer.isWish" mat-flat-button>Ajouter à ma liste
                    d'achat</button>

            </div>
        </mat-card-actions>
    </mat-card>
</div>