.details-container {
  width: 100wh;
  display: flex;
  justify-content: center;
}
.mat-card {
  margin-top: 70px;
  -webkit-box-shadow: 2px 2px 10px 1px var(--primary-color-dark);
  box-shadow: 2px 2px 10px 1px var(--primary-color-dark);
  height: 70%;
  max-width: 650px;
}
.mat-card-title {
  text-align: center;
}
.card-header {
  display: flex;
  align-items: center;
  text-align: center;
  border: var(--primary-color-dark) solid 1px;
  border-radius: 2%;
}

.top-card {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: xx-large;
}
h3 {
  text-decoration: underline;
}
.card-img {
  border: var(--primary-color-dark) solid 1px;
  border-radius: 2%;
  margin-left: 5px;
}
.mat-card-image {
  margin: 0 !important;

  height: auto;
  padding: 5px;
}
li {
  list-style-type: none;
}
