.profil-card {
  height: 300px;
  min-width: 400px;
  background-color: var(--primary-color-dark);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  color: var(--text-on-primary);
  min-width: 500px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
fa-icon {
  font-size: 2.5em;
}
.profil {
  display: flex;
}
.icon {
  border-radius: 35%;
}
.details {
  font-size: 2.5em;
  margin: 20px 0;
  height: 60%;
}

.bloc-elem-a {
  width: 60%;
}
.bloc-elem-b {
  width: 40%;
}
.bloc-elem-a > * {
  margin: 20px 0;
  padding: 20px 0 0 0;
}
.bloc-elem-b {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-elem-b > * {
  margin: 20px 0;
}
.actions {
  display: flex;
  justify-content: space-around;
  flex-grow: 3;
  align-items: center;
}
.action-mdp {
  width: 60%;
}
.action-profil {
  display: flex;
  justify-content: center;
  width: 40%;
}

button {
  background-color: var(--secondary-color);
  color: var(--text-on-primary);
}
@media screen and (min-width: 601px) {
  .profil-card {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .profil-card {
    display: flex;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
}
