<div class="w-50">
  <app-profil-card
    [user]="user"
    (updateEvent)="update($event)"
    [updatingEmail]="updatingEmail"
    [updatingPwd]="updatingPwd"
    *ngIf="!updatingEmail && !updatingPwd"
  ></app-profil-card>
  <app-update-email-form
    *ngIf="updatingEmail"
    (backEvent)="returnToProfilCard()"
    [user]="user"
  >
  </app-update-email-form>
  <app-update-password-form
    *ngIf="updatingPwd"
    (backEvent)="returnToProfilCard()"
  ></app-update-password-form>
</div>
