<mat-tab-group mat-stretch-tabs class="mat-elevation-z4 mx-5">
  <mat-tab label="Les bières">
    <app-beers-table></app-beers-table>
  </mat-tab>
  <mat-tab label="Les plats" class="blue">
    <app-foods-table></app-foods-table>
  </mat-tab>
  <mat-tab label="les utilisateurs">
    <app-users-table></app-users-table>
  </mat-tab>
</mat-tab-group>