.app-container {
  background-image: url(../assets/beer-image-3.jpg);
  opacity: 0.85;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100wh;

  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.pages-container {
  padding-top: 70px;
}
