.mat-mini-fab {
  background-color: var(--text-on-primary);
}
.mat-mini-fab .gfg_text {
  visibility: hidden;
  min-width: 60px;
  background-color: var(--primary-color-light);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 1px 5px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  right: -35%;
}
.mat-mini-fab:hover .gfg_text {
  visibility: visible;
}
