<button mat-mini-fab (click)="setShopList()">
    <mat-icon [ngStyle]="{ color: isWish ? wishColor : unWishColor }">shopping_cart</mat-icon>
    <span *ngIf="!isWish" class="gfg_text"> Ajout au Panier</span>
    <span *ngIf="isWish" class="gfg_text"> Supp. du panier</span>
</button>