<form id="formulaire" [formGroup]="addFood" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nom du Plat</mat-label>
    <input matInput formControlName="name" required minlength="4">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>URL de l'image du Plat</mat-label>
    <input matInput formControlName="img">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" formGroupName="country">
    <mat-label>Choix du Pays</mat-label>
    <div>
      <mat-select formControlName="id">
        <ng-container *ngFor="let country of countries">
          <mat-option [value]="country.id">{{country.name | uppercase}}</mat-option>
        </ng-container>
      </mat-select>
    </div>
  </mat-form-field>
  <button class="btn btn-danger" mat-dialog-close>Annuler</button>
  <button type="submit" class="btn btn-warning" mat-dialog-close>Envoyer</button>
</form>