.beer-table {
  padding: 2% 5%;
}
table {
  width: 100%;
}
mat-form-field {
  width: 50%;
}
.form-filter {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.td-actions {
  height: inherit;
  padding: 10px;
}
.customsnack {
  background: red;
}
