<div class="form-filter">
  <mat-form-field appearance="fill">
    <mat-label>Filtre</mat-label>
    <input #value matInput (keyup)="applyFilter(value.value)" placeholder="Filtre" />
  </mat-form-field>
</div>
<div class="beer-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="alcool">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vol Alc.</th>
        <td mat-cell *matCellDef="let element">{{ element.alcool }}</td>
      </ng-container>
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Couleur</th>
        <td mat-cell *matCellDef="let element">{{ element.color.name }}</td>
      </ng-container>
      <ng-container matColumnDef="brewery">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Brasserie</th>
        <td mat-cell *matCellDef="let element">{{ element.brewery.name }}</td>
      </ng-container>
      <ng-container matColumnDef="style">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Style</th>
        <td mat-cell *matCellDef="let element">{{ element.style.name }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pays</th>
        <td mat-cell *matCellDef="let element">{{ element.country.name }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element" class="d-flex justify-content-around td-actions">
          <button (click)="openDeleteDialog('delete', element)" class="btn btn-warning fs-4">
            Suppr
          </button>
          <button (click)="openEditDialog('edit', element)" class="btn btn-secondary fs-4">
            Editer
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
    </mat-paginator>
  </div>
</div>