<div class="form-filter">
  <mat-form-field appearance="fill">
    <mat-label>Filtre</mat-label>
    <input
      #value
      matInput
      (keyup)="applyFilter(value.value)"
      placeholder="Filtre"
    />
  </mat-form-field>
</div>
<div class="user-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Prénom</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastname }} {{ element.firstname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pseudo</th>
        <td mat-cell *matCellDef="let element">{{ element.nickname }}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inscription</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date MAJ</th>
        <td mat-cell *matCellDef="let element">
          {{ element.updatedAt | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="openDialog('delete', element)"
            class="btn btn-warning"
          >
            Suppr
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
