<button class="gfg_tooltip" mat-mini-fab (click)="setFavori()">
  <mat-icon [ngStyle]="{ color: isLike ? likeColor : unLikeColor }">favorite</mat-icon>
  <span *ngIf="!isLike" class="gfg_text"> Ajout favoris</span>
  <span *ngIf="isLike" class="gfg_text"> Supp. des favoris</span>

</button>