.hero {
  display: flex;
}

.mat-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-on-primary);
  font-size: 100px;
  font-weight: var(--fw-900);
}

span {
  margin-top: 60px;
  word-wrap: break-word;
}
