.example-card {
    max-width: 400px;
  }
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

  #button_list {
    font-size: large;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 30px;
}

#food_card {
  text-align: -webkit-center;
  margin-top: 20px;
}

#fav {
  color: red;
  margin-right: 5px;
}