<div id="food_card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{food.name | uppercase}}</mat-card-title>
      <mat-card-subtitle><p>pays d'origine : <strong>{{food.country.name | uppercase}}</strong></p></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{food.img}} alt="photo du plat">
    <mat-card-content>
      <p>{{food.description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="userIsConnected">
        <button id="fav" mat-mini-fab  aria-label="Example icon button with a menu icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-mini-fab  aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>          
    </mat-card-actions>    
  </mat-card>
</div>

<a id="button_list" type="button" class="btn btn-primary" routerLink="/foods">Retour à la liste</a>
  