<h1 class="warning">ATTENTION</h1>
<mat-dialog-content class="h-75">
  <h2>supprimer cette biere définitivement?</h2>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button class="mat-button" mat-button (click)="closeDialog()">
      Annuler
    </button>
    <button
      class="mat-button"
      mat-button
      [mat-dialog-close]="data"
      cdkFocusInitial
      color="primary"
      (click)="deleteElement()"
    >
      Supprimer
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
