<button *ngIf="currentUser" class="add-food-button" mat-button (click)="openDialog()">Ajouter un Plat</button>

<div class="containerfoods">
    <div class="foods" *ngFor="let item of foods">
        <app-food-card [food]="item"></app-food-card>
    </div>
</div>