.containerfoods {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.foods {
  margin: 1%;
  width: 30vw;
}

button {
  background-color: #fdc525;
  margin-top: 15px;
  margin-left: 30px;
}
.add-food-button {
  display: block;
  margin: 0 auto 0 auto;
  padding: auto;
  width: 80%;
  min-width: 140px;
  background-color: var(--primary-color-dark);
  color: var(--text-on-primary);
}
