@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  /* couleurs */
  --primary-color: #15616d;
  --primary-color-light: #4c8f9b;
  --primary-color-dark: #003742;
  --secondary-color: #f97b03;
  --secondary-color-light: #ffac42;
  --secondary-color-dark: #c54c00;
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;

  /* font size */
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --fs-800: 2.2rem;
  --fs-900: 2.4rem;
  --fs-1000: 3rem;

  /* font family */
  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;

  /* font weight */
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
}

/* Règles du box sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Supprime toutes les marges par défaut  */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* body default */
body,
html {
  height: 100%;
}

/* Permet de manipuler aisement les images */
img,
picture {
  max-width: 100%;
}

/* Héritage de fonts pour les inputs et boutons */
input,
button,
textarea,
select {
  font: inherit;
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--primary-color-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

/* Buttons */

.mat-flat-button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  justify-self: start;
  background: var(--secondary-color);
}

.mat-flat-button:focus {
  outline: 0.125em solid var(--secondary-color);
  outline-offset: 0.25em;
}

.mat-flat-button:hover,
.mat-flat-button:focus {
  background: var(--secondary-color-light);
  border-color: var(--secondary-color-light);
}
.mat-back-button {
  background: var(--primary-color-light);
}

/* ToolBar*/

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}
