<mat-card *ngIf="beer" [ngStyle]="backgroungStyle()">
  <img *ngIf="beer.img" class="img " mat-card-md-image src="{{ beer.img }}" alt="Photo {{ beer.name }}" />
  <div class="alcool" *ngIf="beer.alcool">{{ beer.alcool }} % Alc.</div>
  <mat-card-title-group>
    <mat-card-title>{{ beer.name }}</mat-card-title>
  </mat-card-title-group>

  <mat-card-content class="details d-flex flex-fill">

    <div *ngIf="beer.style">{{ beer.style.name | titlecase }}</div>
    <div class="d-flex justify-content-around">
      <div *ngIf="beer.color">{{ beer.color.name| titlecase }}</div>
      <div *ngIf="beer.country">{{ beer.country.name| titlecase }}</div>
    </div>

  </mat-card-content>

  <div class="buttons" *ngIf="currentUser">
    <shoplist-button [isWish]="beer.isWish" *ngIf="currentUser" (wishEvent)="setBeerToShopList()"></shoplist-button>
    <favori-button [isLike]="beer.isLike" *ngIf="currentUser" (likeEvent)="setFavori()"></favori-button>
  </div>

  <button [ngStyle]="buttonStyle()" class="mat-flat-button" routerLink="{{ beer.id }}">Voir +</button>

</mat-card>