.mat-card {
  /* height: 450px; */
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 2px 2px 10px 1px var(--primary-color-dark);
  box-shadow: 2px 2px 10px 1px var(--primary-color-dark);
}
.img {
  height: 200px;
  width: 200px;
  margin: 10px auto;
}
.mat-card-title-group {
  display: block;
}
.mat-card-title {
  height: 50px;
  margin: 0;
}
.alcool {
  position: absolute;
  right: 12%;
  top: 5%;
  color: black;
}
.details {
  display: flex;
  fill: 1;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.link {
}
