<div class="profil-card m-3">
  <div class="profil" *ngIf="user">
    <div class="details bloc-elem-a">
      <div class="element">
        {{ user.lastname | titlecase }}
        {{ user.firstname | titlecase }}
      </div>
      <div class="element">{{ user.email }}</div>
    </div>
    <div class="details bloc-elem-b">
      <fa-icon [icon]="faUser"></fa-icon>
      <div>{{ user.nickname | titlecase }}</div>
    </div>
  </div>
  <div class="actions">
    <div class="action-mdp">
      <button mat-raised-button class="button" (click)="update('email')">
        Changer d'adresse email
      </button>
    </div>
    <div class="action-profil">
      <button mat-raised-button class="button" (click)="update('pwd')">
        Changer de mot de passe
      </button>
    </div>
  </div>
</div>
