.profil-card {
  height: 300px;
  background-color: var(--primary-color-dark);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  color: var(--text-on-primary);
  width: fit-content;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.profil {
  display: flex;
}
fa-icon {
  font-size: 2.5em;
}

.icon {
  border-radius: 35%;
}
.details {
  font-size: 2.5em;
  margin: 20px 0;
  height: 60%;
}

.bloc-elem-a {
  width: auto;
  padding: 0 10px;
}
.bloc-elem-b {
  width: auto;
  padding: 0 10px;
}
.bloc-elem-a > * {
  margin: 20px 0;
  padding: 20px 0 0 0;
}
.bloc-elem-b {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-elem-b > * {
  margin: 20px 0;
}
.actions {
  display: flex;
  justify-content: space-between;
  flex-grow: 3;
  align-items: center;
}

.button {
  background-color: var(--secondary-color);
  border: var(--secondary-color) solid 1px;
  color: var(--text-on-primary);
}
.button:hover,
.button:active,
.button:focus {
  background-color: #003742;
  color: var(--text-on-primary);
  border: var(--secondary-color) solid 1px;
  text-shadow: var(--text-on-primary) 0px 0px 5px,
    var(--text-on-primary) 0px 0px 10px, var(--text-on-primary) 0px 0px 15px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  box-shadow: var(--secondary-color) 0px 0px 5px,
    var(--secondary-color) 0px 0px 6px, var(--secondary-color) 0px 0px 8px,
    2px 2px 2px rgba(206, 89, 55, 0), 2px 2px 2px rgba(206, 89, 55, 0);
}
@media screen and (min-width: 601px) {
  .profil-card {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .profil-card {
    display: flex;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
}
