<div >
    <mat-card >
        <mat-card-title-group>
          <mat-card-title>{{food.name | uppercase}}</mat-card-title>
          <img mat-card-md-image src={{food.img}} alt="photo de {{food.name}}">
        </mat-card-title-group>
        <mat-card-content>
            <p>pays d'origine : <strong>{{food.country.name | uppercase}}</strong></p>

        </mat-card-content>
        <div class="example-button-container">
          <div *ngIf="userIsConnected">
            <button id="fav" mat-mini-fab  aria-label="Example icon button with a menu icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-mini-fab  aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <button id="button_detail" routerLink="/foodDetail/{{food.id}}" type="button" class="btn btn-warning">Voir le Plat</button>
          </div>        
              
        </div>
      </mat-card>
</div>
