.mat-card-md-image {
    display: flex;
    max-width: max-content;
    
}

#button_detail {
    float: right;
    font-size: large;
    font-weight: 500;
}

#fav {
    color: red;
    margin-right: 5px;
}